.homepage {
  background-image: url("src/assets/homeImg1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @apply py-[2%];
}

.homeTopSection {
  @apply mb-10 !important;
}

.showCaseImg {
  @apply w-full h-[85%] rounded-lg shadow-md shadow-[#444] border-2 border-t-0 border-r-0 border-b-gray-800 border-l-gray-600;
}
[data-testid="carousel-item"] {
  width: 50%;
  @apply mx-[50%];
}

[data-testid="carousel-item"] div {
  width: 78% !important;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

[data-testid="carousel"] > :nth-child(2) {
  opacity: 0.2;
  width: 10%;
}
[data-testid="carousel-right-control"] span {
  @apply bg-gradient-to-t from-red-600 to-yellow-100 border-b-2 border-b-slate-600 shadow-slate-500 shadow-lg;
}
[data-testid="carousel-right-control"] svg {
  @apply text-neutral-900 scale-125;
}

[data-testid="carousel-left-control"] span {
  @apply bg-gradient-to-t from-red-600 to-yellow-100 border-b-2 border-b-slate-600 shadow-slate-500 shadow-lg;
}
[data-testid="carousel-left-control"] svg {
  @apply text-neutral-900 scale-125;
}

[data-testid="carousel"] > :nth-child(3),
[data-testid="carousel"] > :nth-child(4) {
  @apply p-0;
}

@media (max-width: 350px) {
  .carousel {
    @apply w-[95%];
  }
}

@media (max-width: 768px) {
  .homepage {
    @apply flex flex-col justify-center p-5;
  }
  .homeIntro {
    @apply w-full m-2 p-2 mb-[85px];
  }
  .homeTopSection {
    @apply w-full m-2 p-2;
  }
  [data-testid="carousel-item"] {
    width: 100%;
    @apply mx-[50%];
  }
}

@media (max-width: 1200px) {
  [data-testid="carousel-item"] div {
    background-size: cover !important;
  }
  [data-testid="carousel-item"] {
    width: 90%;
    @apply mx-[50%];
  }
}

@media (min-width: 1440px) {
  [data-testid="carousel-item"] {
    width: 47%;
    @apply mx-[50%];
  }
}
