@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: ;
}

.mainTitle {
  @apply text-5xl font-bold italic;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgba(43, 27, 43, 0.52);
}

.title {
}

.text {
}

.scroller {
  transform: translateY(-23px);
}

.scrollBtn {
  @apply w-[4rem] h-[4rem] flex;
}

.shadow {
  @apply shadow-slate-800 shadow-lg;
}

/* .gradient {
  @apply border-[0.5px] border-r-0 border-t-0 border-red-900 rounded-xl bg-gradient-to-t from-yellow-200 to-red-200 shadow-red-500 shadow-lg;
} */
.gradient {
  @apply rounded-xl border-2 border-red-500 border-t-0 border-r-0 bg-gradient-to-t from-red-600 to-yellow-100 text-center gap-2 p-2;
}

.gradient-2 {
}

.borderLeft {
}

.borderRight {
}

.marginGap {
}
