@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 350px) {
  [data-testid="flowbite-navbar-toggle"] {
    @apply scale-150;
  }
}

body {
}

.marginSmall {
  @apply m-5 p-2;
}

.marginLarge {
  @apply m-10 p-5;
}

.titleItem {
  @apply text-5xl font-bold;
}

.textItem {
  @apply text-xl font-normal;
}

.mainTitle {
  @apply text-7xl font-extrabold italic;
}

.showCaseImg {
  @apply w-[6.9rem] h-[6.9rem] rounded-lg ml-4 shadow-md shadow-[#444] border-2 border-t-0 border-r-0 border-b-gray-800 border-l-gray-600;
  transform: translateY(-2px);
}
.text {
}

.scroller {
  transform: translateY(-23px);
}

.scrollBtn {
  @apply w-[4rem] h-[4rem] flex;
}

.shadow {
  @apply shadow-slate-800 shadow-lg;
}

.gradient {
  @apply rounded-xl border-2 border-red-500 border-t-0 border-r-0 bg-gradient-to-t from-red-600 to-yellow-100;
}

@media (min-width: 350px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1440px) {
}
