span {
  text-decoration-color: rgba(255, 50, 50, 0.7);
}

.react-tabs__tab-panel img {
  @apply mx-auto w-[35%] h-[45%] rounded-lg shadow-md shadow-[#444] border-2 border-t-0 border-r-0 border-b-gray-800 border-l-gray-600;
}

.reviewsTab {
  @apply flex w-full m-5 justify-center h-[97vh];
  overflow-x: scroll;
}

.reviews {
  @apply grid grid-cols-2 w-full mx-auto pr-10;
}

.reviewCard {
  @apply p-2 mx-auto my-4 rounded-xl border-r-[0.5px] border-2 border-neutral-600 border-t-0  w-[47%] h-[80%] shadow-[rgba(3,3,3,0.4)] shadow-md bg-white;
}

.cardUser {
  @apply flex flex-col text-center p-[5px] h-[50%];
}

.avatar {
  @apply w-[3rem] h-[3rem] rounded-full !important;
}

.comment {
  @apply py-[5px];
}

.cardComment {
  @apply text-sm my-[2px];
  color: ;
}

.cardDate {
  @apply my-2 text-xs font-semibold;
  letter-spacing: 1px;
}

.ratings {
  @apply flex flex-wrap justify-start text-start;
}

.hoursDisplay {
  @apply flex flex-col gap-5;
}

.apologyImg {
  height: 60% !important;
  width: 60% !important;
  box-shadow: none !important;
  border: none !important;
}

.directionsSection {
  @apply w-full h-[50vh] items-center;
}
.hoursDisplay,
.directionsSection {
  @apply text-[20px];
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(100, 0, 0, 0.5);
}
@media (max-width: 350px) {
  .apologyImg {
    @apply py-2;
    height: 90% !important;
    width: 90% !important;
    box-shadow: none !important;
    border: none !important;
  }
  .directionsSection {
    @apply flex-col;
    overflow: scroll;
  }
}

@media (max-width: 768px) {
  .apologyImg {
    @apply py-2;
    height: 70% !important;
    width: 85% !important;
    box-shadow: none !important;
    border: none !important;
  }
  .directionsSection {
    @apply flex-col;
  }
  .reviews {
    @apply flex flex-col pr-0;
  }
  .reviewCard {
    @apply w-[60%] h-[80%];
  }
  .reviewsTab {
    @apply m-1;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1440px) {
}
