.homeTabs {
  @apply pb-20;
}

span {
  text-decoration-color: rgba(255, 50, 50, 0.7);
}

.react-tabs__tab-panel img {
  @apply mx-auto w-[35%] h-[45%] rounded-lg shadow-md shadow-[#444] border-2 border-t-0 border-r-0 border-b-gray-800 border-l-gray-600;
}
.specialsTab {
  @apply flex flex-col;
}

.reviewsTab {
  @apply flex w-full m-2 justify-center h-[97vh];
}

.reviews {
  @apply grid grid-cols-2 w-full mx-auto pr-10;
  overflow-y: scroll;
  scrollbar-width: thin; /* For Firefox */

  /* Webkit-based browser scrollbar styling */
  &::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }

  &::-webkit-scrollbar-thumb {
    background-color: red; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Optional: Round the edges of the thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: darkred; /* Optional: Darker shade on hover */
  }

  /* Firefox scrollbar styling */
  scrollbar-color: red transparent; /* Thumb color and track color */
  scrollbar-width: thin; /* Makes the scrollbar thinner */
}

.reviewCard {
  @apply flex flex-col p-2 mx-auto my-4 rounded-xl border-r-[0.5px] border-2 border-neutral-600 border-t-0  w-[67%] h-[96%] shadow-[rgba(3,3,3,0.4)] shadow-md bg-white;
}

.cardUser {
  @apply flex flex-col text-center p-[5px] h-[50%];
}

.avatar {
  @apply w-[3rem] h-[3rem] rounded-full !important;
}

.comment {
  @apply py-[5px];
}

.cardComment {
  @apply text-sm my-[2px];
}

.cardDate {
  @apply my-2 text-xs font-semibold;
  letter-spacing: 1px;
}

.ratings {
  @apply flex flex-wrap justify-start text-start;
}

.hoursDisplay {
  @apply flex flex-col justify-center text-center gap-5 mx-auto;
}

.apologyImg {
  height: 60% !important;
  width: 60% !important;
  box-shadow: none !important;
  border: none !important;
}

.directionsSection {
  @apply w-full h-[50vh] items-center;
}
.hoursDisplay,
.directionsSection {
  @apply text-[20px];
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px rgba(100, 0, 0, 0.5);
}
@media (max-width: 350px) {
  .apologyImg {
    @apply py-2;
    height: 90% !important;
    width: 90% !important;
    box-shadow: none !important;
    border: none !important;
  }
  .directionsSection {
    @apply flex-col;
    overflow: scroll;
  }
  .comment {
    @apply py-[2px];
  }

  .cardComment {
    @apply text-xs my-[1px];
  }
  .reviewCard {
    @apply w-[97%] text-xs !important;
  }
}

@media (max-width: 768px) {
  .apologyImg {
    @apply py-2;
    height: 70% !important;
    width: 85% !important;
    box-shadow: none !important;
    border: none !important;
  }
  .directionsSection {
    @apply flex-col;
  }
  .reviews {
    @apply flex flex-col pr-0;
  }
  .reviewCard {
    @apply w-[80%] text-sm;
  }
  .reviewsTab {
    @apply m-1;
  }
  .cardUser {
    @apply flex flex-col text-center p-[2px] h-[44%];
  }

  .avatar {
    @apply w-[2rem] h-[2rem] rounded-full !important;
  }
}

@media (max-width: 1200px) {
  .cardComment {
    @apply text-[16px] !important;
  }
}

@media (max-width: 1440px) {
}
