.react-tabs__tab-panel img {
  @apply mx-auto w-[35%] h-[45%] rounded-lg shadow-md shadow-[#444] border-2 border-t-0 border-r-0 border-b-gray-800 border-l-gray-600;
}

.reviewsTab {
  @apply flex w-full m-5 justify-center h-[97vh];
  overflow-x: scroll;
}

.reviews {
  @apply flex w-full mx-auto pr-10;
}

.reviewCard {
  @apply p-4 mx-auto my-4 rounded-xl border-r-[0.5px]  border-2 border-neutral-600 border-t-0  w-[17%] h-[40%] shadow-[rgba(3,3,3,0.4)] shadow-md bg-white;
}

.cardUser {
  @apply flex flex-col text-center p-10 h-[50%];
}

.avatar {
  @apply w-[3rem] h-[3rem] rounded-full !important;
}

.comment {
  @apply py-10;
}

.cardComment {
  @apply text-sm my-2;
  color: ;
}

.cardDate {
  @apply my-2 text-xs font-semibold;
  letter-spacing: 1px;
}

.ratings {
  @apply flex flex-wrap justify-start text-start;
}

/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
/* REVIEWS TAB NEEDS ATTENTION WITH THE CARD SIZED!!!!!!!!!!!!!!! */
@media (max-width: 350px) {
}

@media (max-width: 768px) {
  .reviews {
    @apply flex-col pr-0;
  }
  .reviewCard {
    @apply w-[90%] h-[70%];
  }
  .reviewsTab {
    @apply m-1;
  }
}

@media (max-width: 1200px) {
  .reviewCard {
    @apply h-[80%];
  }
}

@media (max-width: 1440px) {
}
